# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# Vite
vite.config.js.timestamp-*

# Editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# md
CLAUDE.md
DESIGN.md

# ref
reference/
.vercel
.env*.local
